.image-detail-wrapper {
    display: flex;
    justify-content: center;
    background: #343436;
    height: 70vh;
    flex-direction: column;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px
}

.image-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image-detail-image {
    /* max-width: 100%; */
    width: 1050px;
    max-height: 100%;
    height: 667px;
    object-fit: cover;

}
.edit-image-button {
cursor: pointer;
color: white;
position: absolute;
right: 0;
bottom: 0;
height: 30px;
width: 130px;
border: none;
border-radius: 5px;
margin-bottom: 13px;
margin-right: 160px;
background: linear-gradient(90deg, rgba(98,0,255,1) 0%, rgba(255,0,0,1) 100%);
}
.edit-image-button:hover{

}
.delete-image-button {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 5px;
    margin-bottom: 13px;
    margin-right: 12px;
    background: linear-gradient(90deg, rgba(98,0,255,1) 0%, rgba(255,0,0,1) 100%);;

}
.delete-image-button:hover{
    /* box-shadow: ; */
}
.image-detail-bottom-wrapper {
    display: flex;
    justify-content: center;
}

.image-detail-inner {
    margin-right: 60px;
    width: 50%
}


.image-detail-outer {
    display: flex;
    max-width: 1060px;
    width: 100%;
}

.image-detail-second-wrap {
    display: flex;
    width: 500px;
    margin-top: 26px;
    margin-bottom: 26px;

}
.image-detail-user-pfp {
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.image-detail-user-info {
    /* margin-bottom: 10px; */
    margin-left: 26px;
    width: 100%;
    height: 100%;

}

.image-detail-username {
    font-size:20px;
    margin-bottom: 12px;
    cursor: pointer;
    display: inline-block;
}

.image-detail-title {
    font-size: 16px;
    margin-bottom: 10px;
    width: 410px;
    word-wrap: break-word;


}

.image-detail--description {
    font-size: 14px;
    width: 415px;
    word-wrap: break-word;
}

.image-detail-comment-card-container {
    padding-top:24px;
    border-top: 1px solid #cfd6d9;
    width: 500px;
}

.views-faves-comments-wrapper{
    margin-bottom: 24px;
    font-weight: 600;
}

.image-detail-bottom-right {
    margin-top: 26px;
    width: 50%;
  }

  .image-detail-stats-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #cfd6d9;
    width: 100%;
  }

  .image-detail-stats {
    display: flex;
    width: 223px;
    justify-content: space-between;
  }

  .image-detail-stats-top {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
  }

  .image-detail-stats-bottom {
    color: #898989;
    font-size: 14px;
    font-weight: 400;
  }

  .image-detail-tags-container {
    margin-top: 23px;
  }

  .image-detail-tags-inner-container {
    margin-right: 30px;
    width: 225px;
  }

  .image-detail-tag-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .image-detail-tag-test-container {
    display: flex;
    justify-content: space-between;
    width: 58px;
  }

  .image-detail-tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  .image-detail-tag-edit {
    cursor: pointer;
    margin-top: 3px;
  }

  .image-detail-tag-edit:hover {
    color: #006dac;
  }

  .image-detail-tag-add {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: #006dac;
    cursor: pointer;
    display: block;
    height: 17px;
  }

  .image-detail-tag-add:hover {
    text-decoration: underline;
  }

  .image-detail-tag-card-container {
    width: 225px;
    margin-top: 5px;
    margin-bottom: 72px;
  }
