.image-card-wrapper{
position:relative;
width: auto;
top: 75px
/* height: 100vh; */

/* margin-left: 20px;
margin-right: 20px; */


}
.image-card {
    width: 100%;
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(5, 1fr); */
    min-width: 200px;
    max-height: 270px;
    height: auto;
    object-fit: cover;
    flex-direction: column;
    gap: 0
    /* flex-direction: row; */

}
.images{}

.image-title {



}
.image-creator {



}
.firstandlast {



}
