.image-card-wrapper{
position:relative;
width: auto;
top: 75px

}
.image-card {
    width: 100%;
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(5, 1fr); */
    min-width: 200px;
    max-height: 270px;
    height: auto;
    object-fit: cover;
    flex-direction: column;
    gap: 2px;
    border: 2px solid white;
    cursor: pointer;
    /* border: 2px solid red; */
    /* flex-direction: row; */

}
.images{
    position: absolute;
    color: white;
    /* border: 2px solid black; */
    left: 8px;
    bottom: 10px;
    /* display: flex; */
    width: 100%;
    height: 30px;
    cursor: pointer;
    display: none;
    /* opacity: .7; */
    animation-name: slide;
    animation-duration: 1s

}
.image-card:hover + .images{
display: block;
box-sizing: initial;
position: absolute;
}

.images:hover{
    display: block;
}

.images-comments{
    /* display: block; */
    position: relative;
    color: rgb(255, 255, 255);
    /* border: 2px solid black; */
    display:flex;
    justify-content: flex-end;
    /* border: 2px solid rgb(240, 8, 8); */
    /* display: flex; */
    /* width: 100px;
    height: 30px; */
    cursor: pointer;
    /* border: 2px solid red; */
    width: 93%;
    gap: 5px;
    /* opacity: .7; */
    /* display: none; */

    bottom: 25px;
}

@keyframes slide {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.image-title {



}
.image-creator {



}
.firstandlast {



}
