.create-like-button {
    cursor: pointer;
    size: 20px;
  }

  .create-like-button:hover {
    cursor: pointer;
    color: red;
  }

  .delete-like-button {
    cursor: pointer;
    color: red;
  }

  .image-card-unfilled {
   color: white;
  }

  .image-card-filled {
    color: white
  }
