.tagspage-tabs-container {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    z-index: 1;
  }

  .tagspage-tabs {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .tagspage-tab-explore {
    align-items: center;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 12pt;
    font-weight: 400;
    opacity: .75;
    height: 50px;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .tagspage-tab-tags {
    align-items: center;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 12pt;
    font-weight: 400;
    height: 50px;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 3px solid #0091dc;
  }

  .tagspage-tab-explore:hover {
    border-bottom: 3px solid #0091dc;
    opacity: 1;
  }

  .tagpage-outer-container {
    height: 100%;
    min-height: 100vh;
    background-color: #f3f5f6;
    /* display: flex; */
    /* justify-content: center; */
  }

  .tagspage-container {
    background: white;
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
    /* padding-top: 36px; */
    padding-top: 10px;
    background-color: #f3f5f6;
    width: 100%;
    /* margin-top: 30px */
  }

  .tagspage-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    /* margin-top: 30px; */
  }

  .tagspage-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px 24px;
    /* width: 1200px; */
    width: 100%;
    /* max-width: 1440px; */
    box-sizing: content-box;
    width: 100%;
    margin-top: 50px;
  }

  .tagspage-images-container > * {
    /* flex: 1 1 auto; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
  }

  .tagspage-inner-header-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600
  }

  .tagspage-trending {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px
    ;
  }

  .tagspage-alltags {
    color: #0091dc;
    cursor: pointer;
  }

  .tagspage-alltags:hover {
    text-decoration: underline;
  }

  .tagspage-test-container {
    margin-top: 30px;

  }

  .tagspage-testing {
/* margin-top: 30px; */
  }

  .tagspage-inner-test {
    /* margin-top: 10px; */
    /* margin-right: 20px; */
    position: absolute;
    /* right: .5px; */
    /* left: -1px; */
    /* right: 5px; */
    /* top: 20px; */
  }
