.comment-card-wrapper {
    display: flex;
    width: 482px;
    margin-top: 5px;
    padding: 5px 0 5px;
    box-sizing: border-box
}

.comment-card-pic {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    cursor: pointer
}

.comment-card-container {
    padding-left: 20px;
    width: 440px;
    box-sizing: border-box

}

.comment-card-inner-container {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;

}

.comment-card-name {
    color: #006dac;
    cursor: pointer

}

.comment-card-edit-delete-container {
    margin-left: 12px;
    cursor: pointer;
}

.delete-comment {
border: none;
margin-left: 5px;

}

.comment-card-edit-description {
    font-size: 14px;
    width: 421px;
    height: 92px;
    box-sizing: border-box;

}

.edit-comment-button-container {
    display: flex;
    justify-content: flex-end;
}
.comment-card-button {
    padding: 6.5px 20px;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    color: white;
    background: linear-gradient(90deg, rgba(98,0,255,1) 0%, rgba(255,0,0,1) 100%);
    border:none;
    border-radius: 3px;
    cursor: pointer;
}

.comment-card-description{
    font-size:14px;
    word-wrap: break-word;
}
.comment-error{
    color: red;
    font-size: 14px;
    margin-left: 3px;
    /* position: relative;
    bottom: 10px; */
    /* top: 0; */

}
.error-map-comment-card{
    margin-left: 3px;
    /* width: 30px; */
    /* position: absolute; */
    /* right: 30px */
}
