.edit-comments{
font-size: 13px;
color: rgb(69, 132, 214);
/* position: absolute; */
position: relative;
left: 100px;
bottom: 23px;
cursor: pointer;
font-weight: bolder;
}
.delete-comment{
    font-size: 13px;
    position: relative;
    left: 120px;
    bottom: 14.8px;
    cursor: pointer;
}
.comment-wrapper {
    /* border: 2px solid purple; */

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    left: 40px;
    top: 40px;
    max-width: 450px;
    /* border: 1px solid black; */
    /* display: flex; */
    /* justify-content: flex-start; */

}
.comment-wrapper:hover{

}

.user-comments {
    height: 35px;
    width: 35px;
}
.comments-user {
    position: relative;
    left: 50px;
    bottom: 30px;
    color: rgb(73, 128, 165);
}

.comment-description {
    /* position: relative; */
    left: 15px;
    bottom: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 8px;
}

.edit-description {
    /* width: 400px; */
    position: relative;
    height: 40px;
    margin-left: auto;
    margin-right: 5px;
    overflow: hidden;
word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
}
.views-faves-comments-wrap{
    position: relative;
    left: 100px;
}
