.create-comment-wrapper {
    display: flex;
    width: 522px;
    height: 97px;
    margin-top: 15px;
    margin-bottom: 100px;

}


.create-comment-error-map{
    color: red;
    font-size: 14px;
    position: relative;
    right: 18px;


}
.create-comment{
    width: 491px;
    position: relative;
    margin-left: 19px;
}

.comment-description {
    font-size: 14px;
    width: 491px;
    height: 92px;
    box-sizing: border-box;
}


.create-comment-button-wrap{
    display: flex;
    justify-content: flex-end;
}

.create-submit {
    padding: 6.5px 20px;
    font-size: 16px;
    height: 45px;
    color: white;
    background: linear-gradient(90deg, rgba(98,0,255,1) 0%, rgba(255,0,0,1) 100%);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    left: 0px;
    /* margin-left: 5px; */
}
